.term {
    border: 1px solid #888; /* Add border to make it look like a window */
    border-radius: 5px; /* Add rounded corners for aesthetic */
    overflow: hidden; /* Ensures inner content doesn't overflow the rounded borders */
}

.close_btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ff5f57; /* Red color */
    border-radius: 50%; /* Make it a circle */
    margin-left: auto;
    vertical-align: middle; /* Align with the title */
    cursor: pointer; /* Hand cursor on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

/* New styles for the terminal header */
.term_header {
    background-color: #ebe7e4; /* Gray background */
    padding: 5px 10px;
    /* font-weight: bold;*/
    border-bottom: 1px solid #999;

    /* macOS-like font */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #999;
}

.term_header .title {
    margin-left: auto;
    margin-right: auto; /* This centers the title, pushing away from both sides */
    z-index: 1;
}

.icon-wrapper {
    display: flex;
    margin-right: auto;
}

/* Icons styling */
.icon {
    width: 22px;
    height: 22px;
    /* margin-right: 5px;*/
    cursor: pointer;
}

.term_content_container {
    font-family: courier,fixed,swiss,monospace,sans-serif;
    font-size: 15px;
    color: #f0f0f0;
    background: #000000;
    max-height: 1000px; /* This is an example. Adjust it to a value that you're certain is larger than your content. */

    transition: max-height 0.5s ease;
}

.term_content a {
    color: #ffff00;
}

.term_cursor {
    color: #000000;
    background: #00ff00;
}

.term_scrollbar { background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; height: 100%; }
.term_track { background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.term_thumb { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.term_thumb .term_end { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
#term_paste {
    border: 1px solid;
    height: 19px;
}

/* file import */
#files {
    visibility: hidden;
    width:1px;
    height:1px;
    padding: 0px;
    margin: 0px;
    bordex: 0px;
}

label {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}


